* {
    color: rgb(41, 206, 198)
}

h1 {
    color: blue;
}

p {
    size: 17px
}

.clase1 {
    color: black;
}

#idtitulogrande {
    color: green;
}

a[href] {
    color: brown;
}

a[href*="=es"] {
    color: red;
}

label:hover {
    color: indianred;
    background-color: thistle;
    font-size: 20px;
}

a:hover {
    color: gold;
}